<section>
    <div id="entityUi">
        <div class="row row-condensed sr-only">
            <div class="col-sm-9">
                <h2 class="page-title">Asset Details</h2>
            </div>
            <div class="col-sm-3">
                <span id="icIcon" class="pull-right glyphicon glyphicon-remove-sign"></span>
            </div>
        </div>
        <div class="row row-condensed">
            <div class="col-sm-6">
                <div id="btgState" class="pull-left">
                    <button id="btEdit" class="btn btn-default ram-btn-shout">Edit</button>
                    <button id="btSavePending" class="btn btn-default ram-btn-shout" disabled="disabled">Save (Pending)</button>
                    <button id="btSaveLive" class="btn btn-default ram-btn-shout" disabled="disabled">Save (Live)</button>
                    <button id="btCancel" class="btn btn-default ram-btn-shout" disabled="disabled">Cancel</button>
                </div>
            </div>
            <div class="col-sm-6">
                Icons
            </div>
        </div>
        <div class="row row-condensed">
            <div class="col-sm-9">
                <div id="fsAssetHeader" class="panel panel-condensed ram-panel-default fieldgroupbox form-horizontal">
                    <div class="panel-body">
                        <div class="row row-condensed">
                            <div class="col-sm-6">
                                <div id="txReferenceContainer" class="form-group form-group-sm row-condensed">
                                    <label for="txReference" class="col-sm-4 required control-label">Reference</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">123456</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="slCompany" class="col-sm-4 control-label">Company</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">Alaska</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row row-condensed">
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="txReference" class="col-sm-4 control-label">Quantity</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="txCompany" class="col-sm-4 control-label">Purchase Value</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">£105.5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-condensed">
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="dPurchaseDate" class="col-sm-4 control-label">Purchase Date</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">05-Nov-2013</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="dtCreatedDate" class="col-sm-4 control-label">Created Date</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">05-Nov-2013 10:15:58</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="fsAssetImage" class="panel panel-condensed ram-panel-default fieldgroupbox form-horizontal">
                    <div class="panel-body">
                        <div class="row-condensed">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="slCompany2" class="col-sm-4 control-label">Company</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">RAM</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row-condensed">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm row-condensed">
                                    <label for="slCompany3" class="col-sm-4 control-label">Company</label>
                                    <div class="controls col-sm-8">
                                        <p class="form-control-static">MDBS</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>